<!DOCTYPE html>

    <head>
        <title>
            Add Patients
        </title>

    </head>

    <body>
        <form action="" method="post">
            <div class="container">
                <div class="patient-form ">
                    <div class="row">
                        <div >
                            <input type="text" id="fname" class="input-text" name="fname" placeholder="First name">
                        </div>

                        <div >
                            <input type="text" id="lname" class="input-text" name="lname" placeholder="Last name">
                        </div>

                        <div >
                            <input type="text" id="id" class="input-text" name="id" placeholder="Id">
                        </div>

                        <div >
                            <input type="text" id="phone_num" class="input-text" name="phone_num" placeholder="Phone no.">
                        </div>

                        <div class=>
                            <input type="text" id="address" class="input-text" name="address"
                                placeholder="Address: City, Street, Apt.">
                        </div>

                        <div >
                            <input type="text" id="phone_number" class="input-text" name="phone_number"
                                placeholder="Phone number">
                        </div>

                        <div >
                            <input type="text" id="mobile_phone_number" class="input-text" name="mobile_phone_number"
                                placeholder="Mobile phone number">
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div >
                        <input type="date" id="date_of_birth" class="input-text" name="date_of_birth">
                    </div>

                </div>

            </div>
            <button>Add Patient</button>
        </form>
    </body>

</html>