<!DOCTYPE html>
  <head>
    <title>covid_19 system</title>
  </head>

  <body>
    <label>select patient to show details:</label>
    <dd>
    <div>
    <details>
        <summary>david</summary>
        <p>david<br>542187542<br>bnei brak<br>10/8/1956<br>0589561442</p>
    </details>
    <details>
        <summary>shimon</summary>
        <p>shimon<br>542187542<br>bnei brak<br>10/8/1956<br>0589561442</p>
    </details>
    <details>
        <summary>reuven</summary>
        <p>reuven<br>542187542<br>bnei brak<br>10/8/1956<br>0589561442</p>
    </details>
    <details>
        <summary>levi</summary>
        <p>levi<br>542187542<br>bnei brak<br>10/8/1956<br>0589561442</p>
    </details>
    <details>
        <summary>israel</summary>
        <p>israel<br>542187542<br>bnei brak<br>10/8/1956<br>0589561442</p>
    </details>
</div></dd>
  </body>
</html>